<main class="login full-height">
  <header>
    <div class="cd-navbar-top login-nav-header">
      <nav class="navbar navbar-expand-md navbar-dark cd-navbar-brand">
        <button class="btn btn-link py-0"
                aria-label="toggle sidebar visibility">
          <i [ngClass]="[icons.bars, icons.large2x]"
             aria-hidden="true"></i>
        </button>
        <a class="navbar-brand ms-2">IBM Storage Ceph</a>
        <div class="form-inline">
          <cd-language-selector></cd-language-selector>
        </div>
      </nav>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row full-height">
        <div class="col-sm-12 col-md-6 d-sm-block login-form">
          <router-outlet></router-outlet>
        </div>
        <div class="col-sm-12 col-md-6 d-sm-block branding-info">
          <img src="assets/Ceph_Ceph_Logo_with_text_white.svg"
               alt="Ceph"
               class="img-fluid pb-3" />
          <ul class="list-inline">
            <li class="list-inline-item p-3"
                *ngFor="let docItem of docItems">
              <cd-doc
                section="{{ docItem.section }}"
                docText="{{ docItem.text }}"
                noSubscribe="true"
                i18n-docText
              ></cd-doc>
            </li>
          </ul>
          <cd-custom-login-banner></cd-custom-login-banner>
        </div>
      </div>
    </div>
  </section>
</main>
